$shapeSize: 50px;
$triangleTransparentWidth: 25px;

.ShapesCard {
    display: inline-block;
    cursor: pointer;
}

.ShapesCard .card-thumbnail {
    position: relative;
    display: block;
    margin: 0 auto;
}

.ShapesCard .card-thumbnail .shape {
    position: absolute;
    top: 55px;
}

.ShapesCard .card-thumbnail .square {
    left: 15px;
    height: $shapeSize;
    width: $shapeSize;
    background-color: crimson;
}

.ShapesCard .card-thumbnail .circle {
    right: 15px;
    height: $shapeSize;
    width: $shapeSize;
    margin-left: 0px;
    background-color: darkmagenta;
    border-radius: 50%;
}

.ShapesCard .card-thumbnail .triangle {
    background: none;
    box-sizing: border-box;
    height: 0;
    width: 0;
    border-bottom: $shapeSize solid greenyellow;
    border-left: $triangleTransparentWidth solid transparent;
    border-right: $triangleTransparentWidth solid transparent;
    left: 50%;
    transform: translateX(-50%);
}