@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.full_height {
    height: 100vh;
}

.full_width {
    width: 100vw;
}

/* Scroller */

.scroller {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 45px);
}

.hi-icon {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 30px 30px;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    text-align: center;
    position: relative;
    transform: rotate(-90deg)
}

.icon-img {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align: center;
    height: 100%;
    color: transparent;
    background: url('./arrow.svg') no-repeat 0 0;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    background-position: -48px 0;
}

.hi-icon-archive:before {
    content: "\e00f";
}

.hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.hi-icon-active {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
}

.hi-icon-active:after {
    animation: sonarEffect 1.3s ease-out 75ms infinite;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 10px 10px #ffffff, 0 0 0 10px rgb(255, 255, 255);
    }
    100% {
        box-shadow: 0 0 0 2px rgb(255, 255, 255), 0 0 10px 10px #ffffff, 0 0 0 10px rgb(255, 255, 255);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

/* Landing View */

.landing_view {
    background-image: url('./buyritelogo.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: 1 !important;
}

.landing_view_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 20vh;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.1));
    z-index: 3 !important;
}

.main-description {
    position: absolute;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 60vw;
    transform: skew(-15deg);
    background: linear-gradient(to left, rgb(0, 0, 0), rgba(20, 20, 20, 0.26));
}

.description-cards {
    margin-left: 10%;
    margin-top: 40vh;
    color: white;
    position: relative;
}

.description-cards h3::before {
    content: '';
    position: absolute;
    color: white;
    height: 2px;
    width: 50%;
    margin-top: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.description-cards p {
    margin-top: 10px;
}

.shop-button {
    border: none;
    width: 40%;
    font-size: 15px;
    padding: 15px;
    border-radius: 0;
    background-color: rgb(2, 236, 2);
    color: white;
    margin-left: 40%;
    position: absolute;
    bottom: 30vh;
    right: 5vw;
}

/* Content Holder */

.content_holder {
    position: absolute;
    background: transparent;
    margin-top: 20vh;
    padding-top: 80vh;
    left: 0;
    z-index: 2 !important;
}

/* Services */

.services {
    height: 95vh;
    width: 100vw;
    position: relative;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 35px;
}

.kitchen {
    background-image: url('./kitchen.jpg');
    background-size: cover;
    background-position: center;
}

.living_room {
    background: url('./living_room.jpg');
    background-size: cover;
    background-position: center;
}

#service2 {
    background: green;
}

#service3 {
    background: yellow;
}

#service4 {
    background: black;
    height: 150vh;
}

/* Product tip */

.product-tip {
    list-style-type: none;
    display: block;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    border: 3px solid rgb(66, 66, 66);
    transition: 0.3s ease-in-out;
}

.product-tip:hover {
    transform: scale(1.05);
}

.product-tip span {
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: rgb(66, 66, 66);
}

.refrigerator {
    top: 500px;
    left: 230px;
}

.tips {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 120%;
    top: 10%;
    height: auto;
    width: 200px;
    border-radius: 3px;
    border: 1px solid rgb(66, 66, 66);
    padding: 5px;
    font-size: 13px;
    background: white;
    z-index: 23 !important;
    transition: 0.3s ease-in-out;
}

.refrigerator:hover #refrigerator-tip {
    visibility: visible;
    opacity: 1;
    transform: scale(.9);
}

.cooker {
    top: 600px;
    left: 600px;
}

.cooker:hover #cooker-tip {
    visibility: visible;
    opacity: 1;
    transform: scale(.9);
}

.microwave {
    top: 350px;
    left: 600px;
}

.microwave:hover #microwave-tip {
    visibility: visible;
    opacity: 1;
    transform: scale(.9);
}
