.LettersGameContainer {
  .LetterContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h3 {
    display: inline-block;
    max-width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 5px solid green;
  }
}